/* Reset CSS */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 1.4;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
  }


.header-wrapper {
    background-color: black;
    width: 100%;
    height: 2em;
}

.body-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: red;  
}
/* Lesson list section */
.lesson-list-section {
    height: 100%;
    width: 25%;
    background-color: yellow;
}
.lesson-list-section .title-section {
    text-align: center;
    border-bottom: 1px solid black; 
}
.add-chapter-btn { 
    text-align: center;
    border: 1px solid black;
}
.add-chapter-btn:hover {
    background-color: white;
    cursor: pointer;
}

/* Knowledge view section */
.knowledge-section {
    height: 100%;
    width: 50%;
    background-color: blue;
}


/* Related knowledge view section */
.related-knowledge-section {
    height: 100%;
    width: 25%;
    background-color: black;
}


/* Form manager */
.form-section {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 20em;
    height: 10em;
    background-color: white;
}
.form-section form {
    
}

.active-form {
    display: block !important;
}