<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/view.css">
    <title>Document</title>
</head>
<body>
    <div class="header-wrapper">

    </div>
    <div class="body-wrapper">
        <div class="lesson-list-section">
            <div class="title-section">Lesson list</div>
            <div class="chapter-title-section">
                <div id="CHAPTER_60" class="chapter-title">
                    <div class="delete-btn-section">
                        <button class="delete-chapter">
                            
                        </button>
                    </div>
                    <h3 class="title-text">
                        Tổng quan cơ sở dữ liệu
                    </h3>
                    <div class="lesson-title-section">
                        
                        <div id="L_1" class="lesson_title">
                            <div class="delete-btn-section">
                                <button class="delete-lesson">
                                    
                                </button>
                            </div>
                            abcde
                        </div>
                        <div id="L_2" class="lesson_title">
                            abcde
                        </div>
                        <div id="L_3" class="lesson_title">
                            abcde
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-chapter-btn">
                Add chapter
            </div>
        </div>
        <div class="knowledge-section">
            <div class="knowledge-title-section">
                <div class="knowledge-title">
                    <h1>Course</h1>
                </div>
            </div>
            <div class="category-tab-pane-section">
                <div class="category-tab">Knowledge</div>
                <div class="category-tab">Concepts</div>
                <div class="category-tab">Rules</div>
                <div class="category-tab">Operators</div>
                <div class="category-tab">Problems & Methods</div>
            </div>
            <div class="knowledge-content-section">
                <div class="add-knowledge-btn">
                    Add knowledge
                </div>
                <div class="knowledge">
                    <div class="knowledge-title">

                    </div>
                    <div class="knowledge-content">

                    </div>
                </div>
            </div>
        </div>
        <div class="related-knowledge-section">

        </div>
    </div>
    <div class="form-manager">
        <div class="add-chapter-form form-section">
            <div class="form-title">
                Add Chapter
            </div>
            <form class="add-chapter">
                <div class="form-group">
                    <label>Please type your chapter title</label>
                    <input type="text" name="chapter_title">

                </div>
                <div class="submit-chapter-section">
                    <button type="submit" class="submit-chapter-btn">Submit</button>
                </div>
            </form>
            <div class="form-footer">
                <button class="exit-btn"></button>
            </div>
        </div>
        
        <div class="add-lesson-form form-section">
            <div class="form-title">
                Add Lesson
            </div>
            <form class="add-lesson">
                <div class="form-group">
                    <label>Please type your lesson title</label>
                    <input type="text" name="lesson_title">

                </div>
                <div class="submit-lesson-section">
                    <button type="submit" class="submit-lesson-btn">Submit</button>
                </div>
            </form>
            <div class="form-footer">
                <button class="exit-btn"></button>
            </div>
        </div>

        <div class="add-knowledge-form form-section">
            <div class="form-title">
                Add Knowledge
            </div>
            <form class="add-knowledge">
                <div class="form-group">
                    <label>Please choose your knowledge type</label>
                    <input type="text" name="knowledge_type">
                </div>
                <div class="form-group">
                    <label>Please type your knowledge title</label>
                    <input type="text" name="knowledge_title">
                </div>
                <div class="form-group">
                    <label>Please type your knowledge content</label>
                    <input type="text" name="knowledge_content">
                </div>
                <div class="submit-knowledge-section">
                    <button type="submit" class="submit-knowledge-btn">Submit</button>
                </div>
            </form>
            <div class="form-footer">
                <button class="exit-btn"></button>
            </div>
        </div>
    </div>
    <script src="scripts/view.js" type="module"></script>
</body>
</html>